/* Variables */
:root {
  --azul-marino: #0b285b;
  --azul-celeste: #3e7bfe;
  --azul-borde-header: #c2d4ff;
  --blanco-texto-boton: #fafcff;
  --blanco-fondo-header: rgba(245, 247, 252, 0.7);
  --blanco-fondo-main: #e6edff;
  --gris-titulo-nav: #b2bcce;
  --gris-subtitulo-main: #636d83;
  --fuente-header: "Space Grotesk", sans-serif;
  --fuente-titulo-nav: "PT Sans", sans-serif;
}

body {
  max-width: 1024px;
  margin: 0px;
}

header {
  width: 768px;
  height: 64px;
  background-color: var(--blanco-fondo-header, #eff3fc);
  position: fixed;
  left: 256px;
  font-family: var(--fuente-header);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--azul-celeste, #3e7bfe);
  border-bottom: 1px solid var(--azul-borde-header, #c2d4ff);
  text-align: center;
  line-height: 64px;
  backdrop-filter: blur(5px);
}

nav {
  width: 256px;
  height: 100vh;
  float: left;
  position: fixed;
  background-color: var(--azul-marino, #0b285b);
  font-family: var(--fuente-titulo-nav);
}

nav{

  h3 {
    display: inline-block;
    padding: 0px 20px;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--gris-titulo-nav, #b2bcce);
    margin-top: 32px;
  }

  button {
    background-color: var(--azul-marino, #0b285b);
    color: var(--blanco-texto-boton, #fafcff);
    width: 231px;
    padding: 8px 0px 8px 8px;
    text-align: left;
    border: none;
    border-radius: 14px;
    font-family: inherit;
  }

  button:hover {
    cursor: hand;
    background-color: var(--blanco-texto-boton, #fafcff);
    color: var(--azul-marino, #0b285b);
  }

  .paginaSeleccionada {
    background-color: var(--blanco-texto-boton, #fafcff);
    color: var(--azul-marino, #0b285b);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 2px auto;
  }

  .ul-inferior {
    position: absolute;
    bottom: 8px;
  }

  i {
    margin-right: 8px;
    width: 20px;
    text-align: center;
  }

}

main {
  width: 728px;
  height: 200vh;
  background-color: var(--blanco-fondo-main, #e6edff);
  float: left;
  padding: 20px;
  margin-left: 256px;
  margin-top: 64px;
}



/* Div informacion contribuciones + botones */
#bloqueGestionContribuciones {
  font-family: var(--fuente-titulo-nav);
  border: var(--azul-marino);
}

#bloqueGestionContribuciones {

  h1 {
    display: inline-block;
    font-size: 2rem;
    color: var(--azul-marino, #b2bcce);
  }

  button {
    background-color: var(--azul-marino, #0b285b);
    color: var(--blanco-texto-boton, #fafcff);
    width: 231px;
    padding: 8px 0px 8px 8px;
    text-align: left;
    border: none;
    border-radius: 14px;
  }

  button:hover {
    cursor: hand;
    background-color: var(--blanco-texto-boton, #fafcff);
    color: var(--azul-marino, #0b285b);
  }

  i {
    margin-right: 8px;
    width: 20px;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

}

/* Div lista de contribuciones */
#bloqueListaContribucions {
  width: 640px;
  background: white;
  padding: 25px;
  border: 1px solid var(--azul-borde-header, #c2d4ff);
  border-radius: 14px;
  margin-top: 30px;
  font-family: var(--fuente-titulo-nav);
}

#bloqueListaContribucions{

  h2 {
    font-size: 1.8rem;
    color: var(--azul-marino);
    margin-bottom: 20px;
  }

  .fila {
    display: grid;
    grid-template-columns: 458px 60px;
    align-items: center;
    margin-bottom: 12px;
  }

  .encabezado {
    background: transparent;
    padding: 0;

    span {
      font-weight: bold;
      color: var(--gris-subtitulo-main);
    }

  }

  input {
    border: none;
    border-radius: 14px;
    background-color: #f4f6ff;
    font-size: 1rem;
    color: var(--azul-marino);
    outline: none;
    padding: 12px 16px;
    margin-right: 20px;
    border: 1px solid #ffffff;;
  }

  input:focus {
    border: 1px solid var(--azul-borde-header);
  }

  .btn-eliminar {
    background: #ff5757;
    border: none;
    border-radius: 14px;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
  }

  .btn-eliminar:hover {
    background: #ff3030;
  }

}

ul {
  list-style: none;
  padding: 0;
}

/* MODAL */
/* Clase para mostrar u ocultar el modal+fondo */
.oculto {
  display: none !important;
}

/* Fondo del modal */
.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ventana del modal */
.modal {
  width: 450px;
  background: var(--blanco-fondo-main);
  padding: 25px;
  border-radius: 14px;
  font-family: var(--fuente-titulo-nav);
}

/* Cabecera del modal (titulo + ico-cerrar) */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header {

  h2 {
    font-size: 1.4rem;
    color: var(--azul-marino);
    margin: 0;
  }

  .ico-cerrar {
    background: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: hand;
    color: #0b285b;
  }

}

/* Cuerpo del modal (label + imput text) */
.modal-main {
  margin-top: 20px;
}

.modal-main {

  label {
    display: block;
    font-size: 1rem;
    color: #0b285b;
    margin-bottom: 6px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px 14px;
    font-size: 1rem;
    border-radius: 14px;
    border: 2px solid #c2d4ff;
    outline: none;
    background: white;
  }

  input:focus {
    border-color: #3e7bfe;
  }

}

/* Pie del modal (botones cancelar y añadir) */
.modal-footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.modal-footer {

  .cancelar {
    background: transparent;
    border: none;
    color: #0b285b;
    font-size: 1rem;
    cursor: hand;
  }

  .aniadir {
    background: #3e7bfe;
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 14px;
    font-size: 1rem;
    cursor: hand;
  }

  .aniadir:hover {
    background: #2f67e3;
  }

}