:root {
  --azul-marino: #0b285b;
  --azul-celeste: #3e7bfe;
  --azul-borde-header: #c2d4ff;
  --blanco-texto-boton: #fafcff;
  --blanco-fondo-header: rgba(245, 247, 252, 0.7);
  --blanco-fondo-main: #e6edff;
  --blanco-fondo-sections: #fbfcfd;
  --gris-titulo-nav: #b2bcce;
  --gris-subtitulo-main: #636d83;
  --fuente-header: "Space Grotesk", sans-serif;
  --fuente-titulos: "Space Grotesk", sans-serif;
  --fuente-titulo-nav: "PT Sans", sans-serif;
  --fuente-regular: "PT Sans", sans-serif;
}

body {
  max-width: 1024px;
  margin: 0px;
}

header {
  width: 768px;
  height: 64px;
  background-color: var(--blanco-fondo-header, #eff3fc);
  position: fixed;
  left: 256px;
  font-family: var(--fuente-header);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--azul-celeste, #3e7bfe);
  border-bottom: 1px solid var(--azul-borde-header, #c2d4ff);
  text-align: center;
  line-height: 64px;
  backdrop-filter: blur(5px);
}

nav {
  width: 256px;
  height: 100vh;
  float: left;
  position: fixed;
  background-color: var(--azul-marino, #0b285b);
  font-family: var(--fuente-titulo-nav);
  * {
    font-family: inherit;
  }
  h3{
    display: inline-block;
    padding: 0px 20px;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--gris-titulo-nav, #b2bcce);
    margin-top: 32px;
  }
  button {
    background-color: var(--azul-marino, #0b285b);
    color: var(--blanco-texto-boton, #fafcff);
    width: 231px;
    padding: 8px 0px 8px 8px;
    text-align: left;
    border: none;
    border-radius: 14px;
  }
  button:hover{
    cursor: hand;
    background-color: var(--blanco-texto-boton, #fafcff);
    color: var(--azul-marino, #0b285b);
  }
  .paginaSeleccionada {
    background-color: var(--blanco-texto-boton, #fafcff);
    color: var(--azul-marino, #0b285b);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 2px auto;
    }
  .ul-inferior{
    position: absolute;
    bottom: 8px;
  }
  i{
    margin-right: 8px;
    width: 20px;
    text-align: center;
  }
}

main {
  width: 704px;
  background-color: var(--blanco-fondo-main, #e6edff);
  float: left;
  padding: 32px;
  margin-left: 256px; 
  margin-top: 64px;
  .h1-admin{
    font-family: var(--fuente-titulos);
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--azul-marino, #0b285b);
    margin: 0px;
  }
  .subtitulos-admin{
    font-family: var(--fuente-regular);
    font-size: 1rem;
    font-weight: 400;
    color: var(--gris-subtitulo-main, #636d83);
    margin: 0px;
  }
  .grid-secciones{
    margin-top: 32px;
    display: grid; /* Todas las secciones van dentro de este div, que hace que se reparta el espacio equitativamente entre las 4 columnas (especificado en linea de abajo) */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "asociaciones usuarios contribuciones vistas";
    gap: 16px;
    section{
      display: grid; /* Los sections se dividen en 3 filas (titulo del section, relleno de espacio sobrante y estadística), así se consigue que la estadística quede abajo del todo */
      grid-template-rows: auto 1fr auto;
      padding: 24px;
      background-color: var(--blanco-fondo-sections, #fbfcfd);
      border-radius: 16px;
      border: 1px solid var(--azul-borde-header, #c2d4ff);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);    /* sombra leve para dar el toque */
    }                          
    .seccion-asociaciones{
      grid-area: asociaciones;
    }
    .seccion-usuarios{
      grid-area: usuarios;
    }
    .seccion-contribuciones{
      grid-area: contribuciones;
    }
    .seccion-vistas{
      grid-area: vistas;
    }
    div{
      display: flex;
      align-items: center;     /* alinea verticalmente */
      justify-content: space-between; /* separa el h3 y el icono */
      margin-bottom: 8px;
      h3{
        margin: 0px;
        font-family: var(--fuente-regular);
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--azul-marino);
      }
      i{
        color: var(--gris-subtitulo-main, #636d83);
      }
    }
    p{
      margin: 0px;
      margin-top: auto;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: var(--fuente-regular);
      color: var(--azul-marino, #0b285b);
    }
  }
  .seccion-regular{
    margin-top: 32px;
    padding: 24px;
    background-color: var(--blanco-fondo-sections, #fbfcfd);
    border-radius: 16px;
    border: 1px solid var(--azul-borde-header, #c2d4ff);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);    /* sombra leve para dar el toque */
    h2{
      margin: 0;
      font-family: var(--fuente-regular);
      font-weight: 600;
      font-size: 1.5rem;
      color: var(--azul-marino, #0b285b);
    }
    ul{
      margin: 0px;
      li{
        display: grid;
        grid-template-columns: 24px 1fr auto;  /* icono – nombre – fecha */
        align-items: center;
        gap: 12px;
        margin-top: 50px;
        i{
          color: var(--azul-marino);
        }
        span{
          font-family: var(--fuente-regular);
          color: var(--azul-marino, #0b285b);
          font-weight: 300;
          font-size: 0.875rem;
        }
        p{
          margin: 0px;
          font-family: var(--fuente-regular);
          color: var(--gris-subtitulo-main, #b2bcce);
          font-weight: 500;
          font-size: 0.875rem;
        }
      }
      .primer-usuario{
        margin-top: 24px;
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
}