/* Variables globales */
:root {
  --azul-marino: #0b285b;
  --azul-celeste: #3e7bfe;
  --azul-borde-header: #c2d4ff;
  --blanco-texto-boton: #fafcff;
  --blanco-fondo-header: rgba(245, 247, 252, 0.7);
  --blanco-fondo-main: #e6edff;
  --gris-titulo-nav: #b2bcce;
  --gris-subtitulo-main: #636d83;
  --fuente-header: "Space Grotesk", sans-serif;
  --fuente-titulo-nav: "PT Sans", sans-serif;
}

/* =====================================================[ BODY ]============================================================= */

/* Configuración general del body */
body {
  max-width: 100%; /* %> 1024px/1024px*/
  margin: 0;
  padding-left: 25%; /* %> 256px/1024px*/
  background-color: var(--blanco-fondo-main);
}

/* ===================================================[ HEADER ]============================================================= */

/* Header fijo superior */
header {
  width: 75%; /* %> 768px/1024px */
  height: 8.33vh; /* vh> 64px/768px */
  background-color: var(--blanco-fondo-header, #eff3fc);
  position: fixed;
  left: 25%; /* %> 256px/1024px */
  font-family: var(--fuente-header);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--azul-celeste, #3e7bfe);
  border-bottom: 1px solid var(--azul-borde-header, #c2d4ff);
  text-align: center;
  line-height: 8.33vh; /* vh> 64px/768px */
  backdrop-filter: blur(5px);
  top: 0;
  z-index: 10;
}

/* =====================================================[ NAV ]============================================================== */

/* Barra lateral de navegación */
nav {
  width: 25%;  /* %> 256px/1024px */
  height: 100vh; /* vh> 768px/768px */
  position: fixed;
  background-color: var(--azul-marino, #0b285b);
  font-family: var(--fuente-titulo-nav);
  left: 0;
  top: 0;
  z-index: 10;
}

/* Elementos internos dentro de nav */
nav {

  /* Título de sección */
  h3 {
    display: block;
    padding: 0 7.81%; /* %> 20px/256px */
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--gris-titulo-nav, #b2bcce);
    margin-top: 4.16vh; /* vh> 32px/768px */
  }

  /* Botones de navegación */
  button {
    background-color: var(--azul-marino, #0b285b);
    color: var(--blanco-texto-boton, #fafcff);
    width: 89.84%; /* %> 230px/256px */
    padding: 1.04vh 3.12%; /* vh> 8px/768px %> 8px/256px */
    text-align: left;
    border: none;
    border-radius: 14px;
    font-family: inherit;
  }

  /* Hover de botones */
  button:hover {
    cursor: hand;
    background-color: var(--blanco-texto-boton, #fafcff);
    color: var(--azul-marino, #0b285b);
  }

  /* Página seleccionada */
  .paginaSeleccionada {
    background-color: var(--blanco-texto-boton, #fafcff);
    color: var(--azul-marino, #0b285b);
  }

  /* Listas del menú */
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* Elementos de lista */
  li {
    display: block;
    margin: 0.26vh auto; /* vh> 2px/768px */
  }

  /* Lista inferior fija */
  .ul-inferior {
    position: absolute;
    bottom: 1.04vh; /* vh> 8px/768px */
    width: 100%; /* %> 256px/256px */
  }

  /* Iconos dentro de nav */
  i {
    margin-right: 3.47%; /* %> 8px/230px */
    width: 8.69%; /* %> 20px/230px */
    text-align: center;
  }

}

/* ====================================================[ MAIN ]============================================================== */

/* Contenido principal */
main {
  width: 71.09%; /* 728px/1024px */
  background-color: var(--blanco-fondo-main, #e6edff);
  padding: 2.60vh 2.74%; /* vh> 20px/768px %> 20px/728px*/
}

/* ================================================[ CONTRIBUCIONES ]======================================================== */

/* Div informacion contribuciones + botones */
#bloqueGestionContribuciones {
  font-family: var(--fuente-titulo-nav);
  border: var(--azul-marino);
  width: 100%; /* %> 728px/728px */
}

/* Elementos internos del bloque de gestion de contribuciones */
#bloqueGestionContribuciones {

  /* Título principal */
  h1 {
    font-size: 2rem;
    color: var(--azul-marino, #b2bcce);
    margin: 0px;
  }

  /* Subtítulo */
  p {
    margin-top: 0;
  }

  /* Enlaces sin subrayado */
  a {
    text-decoration: none;
    width: 15.62%; /* %> 120px/728px */
  }

  /* Botón principal */
  button {
    background-color: var(--azul-marino, #0b285b);
    color: var(--blanco-texto-boton, #fafcff);
    width: 100%; /* %> 120px/120px */
    padding: 1.04vh 1.09%; /* vh> 8px/768px %> 8px/728px */
    text-align: left;
    border: 1px solid var(--azul-marino);
    border-radius: 14px;
  }

  /* Hover botón */
  button:hover {
    cursor: hand;
    background-color: var(--blanco-texto-boton, #fafcff);
    color: var(--azul-marino, #0b285b);
    border: 1px solid var(--azul-borde-header);
  }

  /* Espaciado entre el botón y el texto */
  span {
    padding-left: 8.33%; /* %> 10px/120px */
  }

}

/* Div lista de contribuciones (676 width + (25+25) padding + (1+1) border = 728px) */
#bloqueListaContribuciones {
  width: 92.85%; /* %> 676px/728px */
  background: white;
  padding: 3.25vh 3.43%; /* vh> 25px/768px %> 25px/728px */
  border: 1px solid var(--azul-borde-header, #c2d4ff);
  border-radius: 14px;
  margin-top: 3.90vh; /* vh> 30px/768px */
  font-family: var(--fuente-titulo-nav);
}

/* Elementos internos dentro de lista de contribuciones */
#bloqueListaContribuciones {

  /* Título del bloque */
  h2 {
    font-size: 1.8rem;
    color: var(--azul-marino);
    margin-bottom: 2.60vh; /* vh> 20px/768px */
  }

  /* Fila con grid */
  .fila {
    display: grid;
    grid-template-columns: 1fr 1fr; /* %> 338px/676px %> 338px/676px Prefiero usar 1 fr para ambas*/
    align-items: center;
    margin-bottom: 1.56vh; /* vh> 12px/768px */
  }

  /* Encabezado de la lista */
  .encabezado {
    background: transparent;
    padding: 0;

    /* Texto dentro del encabezado */
    span {
      font-weight: bold;
      color: var(--gris-subtitulo-main);
    }

  }

  /* Inputs de texto */
  input {
    border: none;
    border-radius: 14px;
    background-color: #f4f6ff;
    font-size: 1rem;
    color: var(--azul-marino);
    outline: none;
    padding: 1.56vh 4.73%; /* vh> 12px/768px %> 16px/338px */
    margin-right: 5.91%; /* %> 20px/338px */
    border: 1px solid #ffffff;
    width: 88.75%; /* %> 300px/338px */
  }

  /* Focus input */
  input:focus {
    border: 1px solid var(--azul-borde-header);
  }

  /* Enlace del boton */
  a{
    text-decoration: none;
    width: 11.83%; /* %> 40px/338px */
  }

  /* Botón eliminar */
  .btn-eliminar {
    background: #ff5757;
    border: none;
    border-radius: 14px;
    width: 100%; /* %> 40px/40px */
    height: 5.20vh; /* vh> 40px/768px */
    color: white;
    cursor: pointer;
  }

  /* Hover eliminar */
  .btn-eliminar:hover {
    background: #ff3030;
  }

}

/* =======================================================[ MODAL ]========================================================== */

/* Clase para mostrar u ocultar el modal+fondo */
.oculto {
  display: none !important;
}

/* Fondo del modal */
.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ventana del modal */
.modal {
  width: 43.94%; /* %> 450px/1024px */
  background: var(--blanco-fondo-main);
  padding: 3.25vh 2.44%; /* vh> 25px/768px %> 25px/1024px */
  border-radius: 14px;
  font-family: var(--fuente-titulo-nav);
}

/* Cabecera del modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Elementos internos de la cabecera */
.modal-header {

  /* Título del modal */
  h2 {
    font-size: 1.4rem;
    color: var(--azul-marino);
    margin: 0;
  }

  /* Icono cerrar */
  .ico-cerrar {
    background: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: hand;
    color: #0b285b;
  }

}

/* Cuerpo del modal */
.modal-main {
  margin-top: 2.60vh; /* vh> 20px/768px */
}

/* Elementos internos del modal-main */
.modal-main {

  /* Etiquetas */
  label {
    display: inline-block;
    font-size: 1rem;
    color: #0b285b;
    margin-bottom: 6px; /* vh> 6px/768px */
  }

  /* Input texto */
  input[type="text"] {
    width: 100%; /* %> 450px/450px */
    padding: 1.30vh 3.11%; /* vh> 10px/768px %> 14px/450px */
    font-size: 1rem;
    border-radius: 14px;
    border: 2px solid #c2d4ff;
    outline: none;
    background: white;
  }

  /* Focus */
  input:focus {
    border-color: #3e7bfe;
  }

}

/* Pie del modal */
.modal-footer {
  margin-top: 3.90vh; /* vh> 30px/768px */
  display: flex;
  justify-content: center;
  gap: 6.66%; /* %> 30px/450px */
}

/* Elementos internos del footer */
.modal-footer {

  /* Botón cancelar */
  .cancelar {
    background: transparent;
    border: none;
    color: #0b285b;
    font-size: 1rem;
    cursor: hand;
  }

  /* Botón añadir */
  .aniadir {
    background: #3e7bfe;
    color: white;
    padding: 1.04vh 6.66%; /* vh> 8px/768px %> 30px/450px */
    border: none;
    border-radius: 14px;
    font-size: 1rem;
    cursor: hand;
  }

  /* Hover añadir */
  .aniadir:hover {
    background: #2f67e3;
  }

}

/* ====================================================[ ASOCIACIONES ]====================================================== */

/* Div informacion asociaciones */
#bloqueGestionAsociaciones {
  font-family: var(--fuente-titulo-nav);
  border: var(--azul-marino);
}

/* Elementos internos de asociaciones */
#bloqueGestionAsociaciones {

  /* Título y subtítulo */
  #tituloSubtitulo {
    width: 100%; /* %> 728px/728px */
    display: inline-block;
    vertical-align: middle;
  }

  #tituloSubtitulo {

    /* Título */
    h1 {
      font-size: 2rem;
      color: var(--azul-marino, #b2bcce);
      margin: 0px;
    }

    /* Subtítulo */
    p {
      margin: 0px;
    }

  }

}

/* Div formulario asociaciones (676 width + (25+25) padding + (1+1) border = 728px) */
#bloqueFormularioAsociaciones {
  width: 92.85%; /* %> 676px/728px */
  background: white;
  padding: 3.25vh 3.43%; /* vh> 25px/768px %> 25px/728px */
  border: 1px solid var(--azul-borde-header, #c2d4ff);
  border-radius: 14px;
  margin-top: 3.90vh; /* vh> 30px/768px */
  font-family: var(--fuente-titulo-nav);
}

/* Elementos internos del formulario */
#bloqueFormularioAsociaciones {

  /* Encabezado del formulario */
  #formulario-head {

    /* Título */
    h2 {
      font-size: 1.8rem;
      color: var(--azul-marino);
      margin: 0;
    }

    /* Subtítulo */
    p {
      margin: 0;
    }

  }

  /* Contenedor principal del formulario */
  #formulario-main {
    margin-top: 3.26vh; /* vh> 25px/768px */
  }

  /* Estilos del contenedor principal del formulario */
  #formulario-main {

    /* Estilos base para inputs */
    input {
      border: none;
      border-radius: 14px;
      background-color: #f4f6ff;
      font-size: 1rem;
      color: var(--azul-marino);
      outline: none;
      padding: 1.56vh 2.36%; /* vh> 12px/768px %> 16px/676px */
      border: 1px solid #ffffff;
    }

    /* Borde al enfocar un input */
    input:focus {
      border: 1px solid var(--azul-borde-header);
    }

    /* Tamaño específico para inputs de texto */
    input[type="text"] {
      width: 100%;
    }

    /* Tamaño para input de archivo */
    input[type="file"] {
      width: 100%;
    }

    /* Tamaño genérico para checkbox (si no está en .tag) */
    input[type="checkbox"] {
      width: 100px;
    }

    /* Estilos para textarea del formulario */
    textarea {
      border: none;
      border-radius: 14px;
      background-color: #f4f6ff;
      font-size: 1rem;
      color: var(--azul-marino);
      outline: none;
      padding: 1.56vh 2.19%; /* vh> 12px/768px %> 16px/728px */
      border: 1px solid #ffffff;
      resize: none;
      display: block;
      width: 100%;
    }

    /* Borde al enfocar textarea */
    textarea:focus {
      border: 1px solid var(--azul-borde-header);
    }

    /* Estilos para los selects */
    select {
      border: none;
      border-radius: 14px;
      background-color: #f4f6ff;
      font-size: 1rem;
      color: var(--azul-marino);
      outline: none;
      padding: 1.56vh 2.19%; /* vh> 12px/768px %> 16px/728px */
      margin-right: 2.74%; /* %> 20px/728px */
      border: 1px solid #ffffff;
      width: 100%;
    }

    /* Cada fila ocupa ancho completo y separa elementos */
    .fila {
      margin-bottom: 3.25vh; /* vh> 25px/768px */
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .fila {

      /* Campos estándar dentro de una fila */
      .campo {
        display: inline-block;
        vertical-align: top;
        width: 100%;
      }

      /* Separación para el primer campo */
      .campo:first-child {
        margin-right: 0;
      }

      /* Campos grandes como textarea o contenedores amplios */
      .campo-grande {
        display: block;
        width: 100%;
      }

    }

    /* Cuadro de contribuciones (646 width + (15+15) padding + (1+1) border = 676 ) */
    #cuadroContribuciones {
      display: block;
      width: 88,73%; /* %> 646px/728px */
      border: 1px solid #b4c2e0;
      padding: 1.95vh 2.06%; /* vh> 15px/768px %> 15px/728px */
      border-radius: 10px;
    }

    /* Cada etiqueta dentro de las contribuciones */
    .tag {
      display: inline-block;
      margin-right: 3.86%; /* %> 25px/646px */
      margin-bottom: 1.30vh; /* vh> 10px/768px */
      vertical-align: middle;
    }

    /* Ajustes para checkbox dentro de .tag */
    .tag {

      input[type="checkbox"] {
        width: 15px; /* %> 15px/646px ?? */
        height: 15px; /* vh> 15px/768px ?? */
        margin-right: 6px;
        vertical-align: middle;
        accent-color: var(--azul-borde-header);
      }

      span {
        vertical-align: middle;
      }

    }

    label {
      display: block;
      margin-bottom: 1.30vh; /* vh> 10px/768px */
    }

  }

  /* Pie del formulario */
  #formulario-footer {
    margin-top: 3.25vh; /* vh> 25px/768px */
    text-align: right;
  }

  #formulario-footer {

    /* Botón principal */
    button {
      background-color: var(--azul-marino, #0b285b);
      color: var(--blanco-texto-boton, #fafcff);
      width: 16.48%; /* %> 120px/728px */
      padding: 1.04vh 1.09%; /* vh> 8px/768px %> 8px/728px */
      text-align: left;
      border: 1px solid var(--azul-marino);
      border-radius: 14px;
    }

    /* Hover del botón */
    button:hover {
      cursor: hand;
      background-color: var(--blanco-texto-boton, #fafcff);
      color: var(--azul-marino, #0b285b);
      border: 1px solid var(--azul-borde-header);
    }

    /* Espaciado entre el botón y el texto */
    span {
      padding-left: 8.33%; /* %> 10px/120px */
    }

    /* Enlaces sin subrayado */
    a {
      text-decoration: none;
    }

  }

}

/* ====================================================[ MEDIA QUERY ]======================================================= */

/* MEDIA QUERY MÓVIL (Max-width: 768px) */
@media screen and (max-width: 768px) {

  body {
    padding-left: 0;
    max-width: 100%;
  }

  nav {
    width: 100%;
    height: auto;
    position: static;
  }

  header {
    width: 100%;
    left: 0;
    position: static;
  }

  main {
    width: 90%;
    padding: 20px;
    margin-left: 0;
  }

  #bloqueGestionContribuciones{

    button {
      width: 100%;
      text-align: center;
      padding: 12px 0px;
      margin-bottom: 2%;

    }
  }

  /* Bloque Lista de Contribuciones */
  #bloqueListaContribucions {

    /* Fila: Uso Flexbox para colocar input y botón al lado */
    .fila {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 12px;
    }

    /* Ajuste para que el input */
    input {
      flex-grow: 1;
      margin-right: 0;
      width: initial;
    }

    /* Botón eliminar */
    .btn-eliminar {
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      margin-top: 0;
    }

  }

  .modal {
    width: 90%;
    margin: 20px;
  }

  /* Bloque Formulario de Asociaciones */
  #bloqueFormularioAsociaciones {

    #formulario-main {

      .fila {
        flex-direction: column;
        gap: 20px;
      }

      .fila .campo {
        width: 100%;
      }

    }

    #formulario-footer {

      button {
        width: 100%;
        text-align: center;
        margin-bottom: 2%;
      }

      span {
        display: inline-block;
        padding-left: 0;
        text-align: center;
      }

      i {
        display: inline-block;
      }

    }

  }

  /* Barra lateral de navegación (NAV)*/
  nav {
    width: 100%;
    height: auto;
    position: static;
  }

  /* Lista inferior dentro de NAV */
  nav .ul-inferior {
    position: static;
    margin-bottom: 0;
    width: 100%;
    margin-top: 20px;
  }

}


/* MEDIA QUERY PC (Min-width: 769px) */
@media screen and (min-width: 769px) {

  body {
    max-width: 1024px;
    padding-left: 25%;
  }

  nav {
    width: 25%;
    height: 100vh;
    position: fixed;
  }

  header {
    width: 75%;
    left: 25%;
    position: fixed;
  }

  main {
    padding-top: 64px;
  }

  #bloqueGestionContribuciones {

    button {
      width: 30%;
      text-align: left;
    }

  }

  #bloqueListaContribucions { 
    .fila {
      grid-template-columns: 75% 15%;
      gap: initial;
      display: grid;
    }

    input {
      margin-right: 20px;
      margin-bottom: 0;
    }

    .btn-eliminar {
      margin-top: 0;
    }

  }

  .modal {
    width: 40%;
  }

  #bloqueFormularioAsociaciones {

    #formulario-main {

      .fila {
        flex-direction: row;
        gap: initial;
      }

      .fila .campo {
        width: 47%;
      }

    }

    #formulario-footer {

      button {
        width: 15%;
        text-align: left;
      }

      span {
        display: initial;
        padding-left: 10px;
        padding-top: 0;
      }

    }

  }

}