:root{
    --azul-marino: #0b285b;
    --azul-celeste: #3e7bfe;
    --azul-borde-header: #c2d4ff;
    --blanco-texto-boton: #fafcff;
    --blanco-fondo-header: #eff3fc;
    --blanco-fondo-main: #e6edff;
    --gris-titulo-nav: #b2bcce;
    --gris-subtitulo-main: #636d83;
    --fuente-header: "Space Grotesk", sans-serif;
}

body{
    max-width: 1024px;
    margin: 0px;
}

header {
  width: 768px;
  height: 64px;
  background-color: var(--blanco-fondo-header, #eff3fc);
  position: fixed;
  left: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fuente-header);
  font-size: 18px;
  font-weight: 700;
  color: var(--azul-celeste, #3e7bfe);
  border-bottom: 1px solid var(--azul-borde-header, #c2d4ff);
}

nav{
    width: 256px;
    float: left;
    background-color: var(--azul-marino, #0b285b);
    button{
        background-color: var(--azul-marino, #0b285b);
        color: var(--blanco-texto-boton, #fafcff);
    }
    .paginaSeleccionada{
    background-color: var(--blanco-texto-boton, #fafcff);
    color: var(--azul-marino, #0b285b);
    }
}

main{
    width: 768px;
    background-color: var(--blanco-fondo-main, #e6edff);
    float: left;
}